body {
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  clear: both;
  font-family: "Nunito", sans-serif;
  padding-bottom: 9vh;
}

.container-content-article {
  position: relative;
  display: block;
  width: 95%;
  height: 265px;
  margin: 15px auto;
  border-radius: 15px;
  overflow: hidden;
}

.container-content-article > .item-content >  .item-content-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 265px;
  background-size: cover;
  background-position: center;
  filter: brightness(90%);
}

.container-content-article > .item-content > figcaption {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background-color: #ffffff50;
  backdrop-filter: blur(8px);
  padding: 10px;
  z-index: 1;
}

.container-content-article > .item-content > .data-profile {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 35%;
  height: 30px;
  background: #ffffff50;
  box-shadow: 3px 3px 6px #00000065;
  backdrop-filter: blur(8px);
  border-radius: 15px;
  overflow: hidden;
  padding: 3px;
  margin: 5px;
  z-index: 1;
}

.container-content-article > .item-content > .data-profile > img {
  height: 100%;
  border-radius: 50%;
}

.container-content-article > .item-content > .data-profile > div {
  margin-left: 7px;
  overflow-x: auto;
  white-space: nowrap;
}

.container-content-article > .item-content > .data-profile > div > h1 {
  color: #fff;
  font-weight: 500;
  font-family: Nunito, sans-serif;
  font-size: 1.6vh;
  margin: 0;
  white-space: nowrap;
}

.container-content-article > .item-content > .data-profile > div > p {
  color: #dedede;
  font-weight: 500;
  font-family: Nunito, sans-serif;
  font-size: 1vh;
  margin: 0;
  white-space: nowrap;
}

.container-content-article > .item-content > .option-content {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  color: #ffffff;
  font-size: 30px;
  margin: 5px;
  padding: 5px;
  z-index: 1;
}