@media (max-width: 1024px) {
  header {
    position: fixed;
    width: 100%;
    height: 8vh;
    background-color: rgba(255, 255, 255, 0.7);
    display: flex;
    align-items: center;
    backdrop-filter: blur(8px);
    justify-content: space-between;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 50;
  }
  
  header > img {
    width: auto;
    height: 100%;
    margin-left: 10px;
  }
  
  header > i {
    font-size: 3rem;
    margin-top: 2vh;
    margin-right: 10px;
    color: #252525;
  }
}





@media (min-width: 1024px) {  
  header {     
    position: fixed;     
    width: 100%;     
    height: 8vh;     
    background-color: rgba(255, 255, 255, 0.7);     
    display: flex;     
    align-items: center;     
    justify-content: center;     
    backdrop-filter: blur(8px);     
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);     
    z-index: 50;   
    
  }      
  
  header > img {    
    width: auto;     
    height: 100%;     
    margin-left: 10px;   
    
  }      
  
  header > i {     
    font-size: 3rem;     
    margin-top: 2vh;     
    margin-right: 10px;     
    color: #252525;     
    display: none;   
  }
}